root.pdf
.DS_STORE
.texpadtmp
*.tdo
# editor files
*~
\#*
.build
# *TeX files
*.aux
*.log
*.nav
*.out

*.snm
*.toc
*.loa
*.pdfpc
*.synctex.gz

auto
Built

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*~
*.dvi
*.ps
*.out
*.acn
*.glo
*.gls
*.ilg
*.ist
*.glg
*.alg
*.acr
*.el
.#*